footer{
    width: 100%;
    box-sizing: border-box;
    padding: 40px;
    background: linear-gradient(180deg, #131A15 0%, #090B3A 100%);
    position: relative;
}
footer ul{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
footer ul li{
    display: inline-block;
}
footer ul li a{
    color:#7c7c81;
}
footer ul li a:hover{
    color: #7c7c81;
}
footer::after{
    bottom: 0;
    left: 0;
    content: '';
    position: absolute;
    width: 25%;
    height: 80%;
    background-color: #5A4DB7;
    filter: blur(70px);
}

footer::before{
    bottom: 0;
    right: 0;
    content: '';
    position: absolute;
    width: 30%;
    height: 80%;
    background-color: #5A4DB7;
    filter: blur(90px);
}
