.main{
    min-height: 500px;
    margin-top: 0;
    padding-bottom: 50px; 
}

.main .row{
    margin: 0 !important;
    padding:0 30px;
    box-sizing: border-box;
}
.main .row .col-lg-7{
    color:#fff;
}
.main .row .col-lg-7 .title{
    width: 100%;
    margin: 50px 0;
}
.main .row .col-lg-7 .title h1{
    font-size:65px !important;
    font-weight: 900;
    font-family:'Gilroy-ExtraBold';
}
.main .row .col-lg-7 .title p{
    font-size: 24px;
    width: 70%;
    font-weight: 400;
}
.main .row .col-lg-7  button{
    width: 226px;
    border-radius: 40px;
    padding: 10px 20px;
    font-size: 22px;
}
.main .row .col-lg-5{
    height: 550px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    overflow: hidden;
}
.main .row .col-lg-5 .bgImage{
    width: 110%;
    height: 95%;
    padding: 10px;
    box-sizing: border-box;
}
.main .row .col-lg-5 .bgImage:first-child{
    position: relative;
}
.main .row .col-lg-5 .bgImage:first-child .Image1{
    position: absolute;
    top: 5px;
    left: 80px;
    z-index: 10;
    background: url(../asset/bg2.png) no-repeat;
    height: 100%;  
    width: 110%;
    transform: rotate(-18deg);
    background-size: contain;
}
.main .row .col-lg-5 .bgImage:last-child{
    margin-top: 20px;
    position: relative;
}
.main .row .col-lg-5 .bgImage:last-child .Image2{
    top: 20px;
    left: 0px;
    width: 110%;
    height: 92%;
    z-index: 1;
    position: absolute;
    background: url(../asset/phone2.png) no-repeat;
    background-size: contain;
    transform: rotate(10deg);
}


@media (max-width:576px){
  
    .main .row{
        padding:10px;
        position: relative;
    }
    .main .row .col-lg-7{
        width: 100% !important;
    }
    .main .row .col-lg-7 .title{
        width: 100% !important;
    }
    .main .row .col-lg-7 .title h1{
        font-size: 40px !important;
        margin-bottom: 40px;
    }
    .main .row .col-lg-7 .title p{
        font-size: 24px;
        width: 97%;
        font-weight: 500;
        font-style: normal;
    }
    .main .row .col-lg-7  button{
        position: absolute;
        width: 90%;
        margin-left:5%;
        display: block;
        border-radius: 40px;
        padding: 24px 40px;
        font-size: 22px;
        bottom: -40px;
        left: 0;
    }
      .main .row .col-lg-5{
        height: 400px !important;
        margin-bottom: 40px;
        margin: 20px 0;
    }
    .main .row .col-lg-5 .bgImage{
        width: 100%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
    
    .main .row .col-lg-5 .bgImage:first-child .Image1{
        top: 5px;
        left: 60px;
        width: 90%;
        height: 90%;
        object-fit: contain;
    }
    .main .row .col-lg-5 .bgImage:last-child .Image2{
        top: 15px;
        left: -40px;
        width: 85%;
        height: 85%;
        z-index: 12;
    }
    
}

@media (max-width:400px){
    .main .row .col-lg-7 .title h1{
        font-size: 30px !important;
        margin: 0;
        margin-bottom: 30px;
        padding: 0;
        
    }
    .main .row .col-lg-7 .title p{
        font-size: 18px;
        width: 97%;
        font-weight: 500;
        font-style: normal;
    }
    .main .row .col-lg-7  button{
        position: absolute;
        width: 90%;
        margin-left:5%;
        display: block;
        border-radius: 30px;
        padding: 15px 20px;
        font-size: 20px;
        bottom: -40px;
        left: 0;
    }
    .main .row .col-lg-5{
        height: 300px !important;
    }
}